@import url(font-awesome.min.css);

h1 {
	text-align: center;
	color: #ffffff;
	font-family: 'Oswald', serif;
	font-size: 70;
}


h2 {
    text-align: center;
    color: #ffffff;
    font-family: 'Oswald', serif;
    font-size: 40;
    border-left: 10px solid white;
    background-color: #a82424;


}


.desc{
	font-family: Courier New;
	color: white;
	padding 50 50 50 50;
	font-style: italic;
	text-align: center;
	padding-right: 200px;
	padding-left: 200px;
}


p1 {
	font-family: Courier New;
	color: white;
	padding 50 50 50 50;
	font-style: italic;
	text-align: center;
	padding-right: 200px;
	padding-left: 200px;
}


p5 {

    text-align: center;
    color: #a82424;
    font-family: 'Oswald', serif;
    font-size: 20;
    background-color: white;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align-items: center;
    display:table; margin:0 auto;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Oswald';
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:#a82424;
}

#contents {
    background: #a82424;
    width: 70%;   
}

table{
    border-style: solid;
    border-color: #a82424;
    width: 90%;
}

th {
    font-family: 'Oswald', serif;
    font-size: 20;
    color: white;
    background-color: grey;
}

td {
    font-family: 'Oswald', serif;
    background-color: white;
    position: center;
}

#service {
    background-color: white;
}

#info {
    font-family: consolas;
}

p {
    font-family: consolas;
    font-size: 15
    padding-left: 15;
    padding-right: 15;
}

.wellFooter {
    margin-bottom: 2px;
}

.StockImages {
    width: 230px;
}

.DisplayImages {
    width: 500px;
    height: 500px;
}

.data {
    text-align: left;
    color: black;
    font-family: 'Oswald', serif;
    font-size: 15;
}

.redFont {
    color: red;
}

.rightAlign {
    float: right;
    margin-right: 2%;
}

.lefttAlign {
    float: left;
    margin-right: 2%;
}